.btn {
    display: inline-block;
    background-color: #EA1E63;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px #aaa;
    cursor: pointer;
}