.bg-blue {
    background-color: #03A9F5;
}

.container:first-child {
    min-height: 100vh;
    padding-bottom: 20px;
    background-image: url(../img/banner.jpg);
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
}

.narrow-row {
    text-align: center;
}
    .logo {
        height: 34px;
        margin-bottom: 40px;
        object-fit: contain;
    }
    h1 {
        margin-bottom: 20px;
        font-size: 60px;
        line-height: 60px;
        text-transform: uppercase;
    }
    .narrow-row > p {
        margin-bottom: 60px;
        font-size: 20px;
        line-height: 25px;
        color: #555;
    }
    .clock {
        margin-bottom: 60px;
    }
    .narrow-row > .form {
        margin-bottom: 10px;
    }
    .row {
    text-align: center;
    }
    .icon-list {
        display: inline-block;
        width: 100%;
        padding: 20px 0;
        margin-bottom: 40px;
        border-bottom: 2px solid rgba(255,255,255,0.6);
    }
        .fa {
            padding: 10px;
            width: 36px;
            cursor: pointer;
            color: #fff;
        }
            .fa:hover {
                color: #03A9F3;
                background-color: #fff;
                cursor: pointer;
                border-radius: 50%;
            }
    .footer-logo {
        width: 200px;
        margin:0 calc( 50% - 100px );
        object-fit: contain;
        margin-bottom: 40px;
    }
    .footer-text {
        display: inline-block;
        margin:0 calc( 50% - 300px );
        width: 600px;
        line-height: 25px;
        color: rgba(255,255,255,0.6);
    }
        .footer-link {
            text-decoration: none;
            color: #fff;
            cursor: pointer;
            }
    .footer-paragraph {
        width: 600px;
        display: inline-block;
        color: rgba(255,255,255,0.6);
        margin:0 calc( 50% - 300px );
        line-height: 25px;
    }