.bg-blue {
    background-color: #03A9F5;
}

.container:first-child {
    min-height: 100vh;
    padding-bottom: 20px;
    background-image: url(../img/banner.jpg);
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
}

.narrow-row {
    text-align: center;
}
    .logo {
        height: 34px;
        margin-bottom: 40px;
        object-fit: contain;
    }
    h1 {
        margin-bottom: 20px;
        font-size: 60px;
        line-height: 60px;
        text-transform: uppercase;
    }
    .narrow-row > p {
        margin-bottom: 60px;
        font-size: 20px;
        line-height: 25px;
        color: #555;
    }
    .clock {
        margin-bottom: 60px;
    }
    .narrow-row > .form {
        margin-bottom: 10px;
    }
    .about {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 30px;
        text-transform: uppercase;
    }
    .p_about {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 22px;
        color: rgb(146, 146, 146);
    }
    .btn {
        float: right;
    }

footer.container {
    padding-top: 0;
}
    footer > .row {
        text-align: center;
    }
    .icon-list {
        display: inline-block;
        width: 100%;
        padding: 20px 0;
        margin-bottom: 40px;
        border-bottom: 2px solid rgba(255,255,255,0.6);
    }
        .icon-list > .fa {
            width: 44px;
            height: 44px;
            line-height: 44px;
            cursor: pointer;
            color: #fff;
            text-decoration: none;
        }
            .icon-list > .fa:hover {
                color: #03A9F3;
                background-color: #fff;
                border-radius: 50%;
            }
    .footer-logo {
        width: 200px;
        margin:0 calc( 50% - 100px );
        object-fit: contain;
        margin-bottom: 40px;
    }
    .footer-text {
        display: inline-block;
        line-height: 25px;
        color: rgba(255,255,255,0.6);
    }
        .footer-text > p {
            display: inline-block;
            padding: 0 10px;
            border-right: 1px solid #fff;
            line-height: 17px;
        }
            .footer-text > p:last-child {
                border-right: none;
            }
        .footer-link {
            text-decoration: none;
            color: #fff;
            cursor: pointer;
            }
    .footer-paragraph {
        display: inline-block;
        width: 600px;
        margin: 0 calc(50% - 300px);
        color: rgba(255,255,255,0.6);
        line-height: 25px;
    }

@media ( max-width: 700px ) {
    .footer-text > p {
        width: 100%;
        border: none;
    }
    .footer-paragraph {
        width: 100%;
        margin: 0;
    }
}