.container {
    display: inline-block;
    width: 100%;
    padding: 60px 0;
}
    .container > .row {
        display: inline-block;
        width: 1000px;
        margin: 0 calc( 50% - 500px );
    }
    .container > .narrow-row {
        display: inline-block;
        width: 600px;
        margin: 0 calc( 50% - 300px );
    }
        .column_left {
            display: inline-block;
            width: 50%;
            float: left;
        }
        .column_right {
            display: inline-block;
            width: 40%;
            float: right;
        }
@media ( max-width: 1100px ) {
    .container > .row {
        width: 600px;
        margin: 0 calc( 50% - 300px );
    }
}

@media ( max-width: 700px ) {
    .container {
        padding: 60px 20px;
    }
        .container > .narrow-row,
        .container > .row {
            width: 100%;
            margin: 0;
        }
        .column_left {
            width: 100%;
            margin-bottom: 60px;
        }
        .column_right {
            width: 100%;
        }
}