.container {
    display: inline-block;
    width: 100%;
    padding: 60px 0;
}
    .container > .row {
        display: inline-block;
        width: 1000px;
        margin: 0 calc( 50% - 500px );
    }